<h1><%= t('.title') %></h1>

<p>
  <%= link_to(
    t(
      'actions.manage_thing',
      thing: t('activerecord.models.client').pluralize
    ).capitalize,
    [:coach, :client_invitations]
  ) %>
</p>
