<h1><%= t('.title') %></h1>

<%= button_to t('actions.connect_thing', thing: 'Calendly'), "/auth/calendly" %>

<p>
  <%= link_to(
    t(
      'actions.manage_thing',
      thing: t('activerecord.models.client').pluralize
    ).capitalize,
    [:coach, :client_invitations]
  ) %>
</p>

<p>
  <%= link_to(
    t(
      'actions.manage_thing',
      thing: t('activerecord.models.coaching_session').pluralize
    ).capitalize,
    [:coach, :coaching_sessions]
  ) %>
</p>
