<h1 class="mb-0"><%= t(".title") %></h1>

<p>
  <%= t('common.or') %>
  <%= link_to t('actions.signin'), signin_path %>
</p>

<%= render 'admin/coaches/form',
  coach: @coach,
  url: coach_registrations_path,
  submit: t('actions.signup').capitalize %>
