<h1><%= t('.title') %></h1>

<%= render 'form',
  coach: @coach,
  submit: t('actions.update_thing', thing: t('activerecord.models.coach'))
%>

<%= link_to t('actions.show').capitalize, admin_coach_path(@coach) %>
