<h1><%= t('.title') %></h1>

<%= render 'admin/users/form',
  resource: @coach,
  model_name: :coach,
  url: admin_coach_path(@coach),
  cancel_path: admin_coach_path(@coach),
  submit: t('actions.update_thing', thing: t('activerecord.models.coach'))
%>
