<h1><%= t('.title') %></h1>

<p>
  <%= link_to(
    t('actions.manage_thing', thing: t('common.coach').pluralize).capitalize,
    admin_coaches_path
  ) %>
</p>

<p>
  <%= link_to(
    t(
      'actions.switch_to',
      thing: "#{t('common.coach')} #{t('common.dashboard')}"
    ).capitalize,
    coach_dashboard_path
  ) %>
</p>
