<div class="w-2/5 max-w-md mx-auto mt-4 p-4 shadow-md bg-white">
  <h1 class="mb-0 text-center"><%= t(".title") %></h1>

  <p class="text-center">
    <%= t('common.or') %>
    <%= link_to t('actions.signin'), signin_path %>
  </p>

  <%= render 'admin/users/form',
    resource: @client,
    model_name: :client,
    url: public_client_registrations_path,
    cancel_path: root_path,
    css_classes: 'w-full',
    submit: t('actions.signup').capitalize %>
</div>
