<h1><%= @client_invitation.email %> - <%= @client_invitation.status %></h1>

<p>TODO</p>

<ul>
  <li>Redirect client to sign up, name &amp; email filled in</li>
  <li>Attach as recipient when they sign up, matching by email</li>
  <li>Attach existing users as recipients upon invitation creation</li>
  <li>Send invitation with magic login link to existing users</li>
</ul>
